<article class="card" [class.promo]="produto().promo">
    <img clas="thumb" [src]="produto().imageUrl" [alt]="produto().nome" />
    <div class="conteudo">
        <header class="cabecalho">
            <h3 class="titulo">{{ produto().nome }}</h3>

            @switch (produto().estado) {
            @case ('novo') {
            <span class="selo novo">Novo</span>
            }
            @case ('esgotado') {
            <span class="selo esgotado">Esgotado</span>
            }
            }

            @if (produto().promo) {
            <span class="selo promo">Aproveite</span>
            }
        </header>
        <p class="desc">{{ produto().descricao | truncar }}</p>

        <div class="preco-container">
            @if (produto().promo) {
            <div class="preco-group">
                <span class="preco desconto">
                    {{ produto().preco | desconto:10 | currency:'BRL':'symbol':'1.2-2' }}
                </span>
                <span class="preco original">
                    {{ produto().preco | currency:'BRL':'symbol':'1.2-2' }}
                </span>
            </div>
            } @else {
            <span class="preco"> {{ produto().preco | currency:'BRL':'symbol':'1.2-2' }} </span>
            }
            <app-quantidade-controle [(contador)]="qtde"> </app-quantidade-controle>
        </div>

        <div class="acoes">
            <button type="button" class="btn ghost" (click)="onView()">Ver detalhes</button>
            <button type="button" class="btn primary" (click)="onAdd()">Adicionar</button>
        </div>
    </div>
</article>