<section class="detalhe">
    @if (loading()) {
        <option>Carregando...</option>
    }
    @else {
        @if (!produto()) {
            <p>Produto não encontrado</p>
            <button class="btn ghost" (click)="voltar()">Voltar</button>
        }
        @else {
            <article class="detalhe-card">
                <img class="thumb" [src]="produto()?.imageUrl" [alt]="produto()!.nome" />
                <div class="infos">
                    <h2>{{ produto()!.nome }}</h2>
                    <p class="descricao">{{ produto()!.descricao }}</p>
                    @if (produto()!.promo) {
                        {{ produto()!.preco | desconto:10 | currency:'BRL':'symbol':'1.2-2' }}
                    }
                    @else {
                        {{ produto()!.preco | currency:'BRL':'symbol':'1.2-2' }}
                    }
                    <div class="acoes">
                        <button class="btn ghost" (click)="voltar()">Voltar</button>
                    </div>
                </div>
            </article>
        }
    }
</section>