.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container_aulas{
    margin: 30px 0;
}

.container h2 {
    color: #343a40;
    margin-bottom: 20px;
}
.container span {
    color: #6c757d;
    font-size: 1.2em;
}